<section class="logHeader">
  <div class="logOval"></div>
</section>

<section class="loginSection">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 loginForm">
              <p class="companyName">Company Name</p>
    
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-md-offset-4 col-lg-offset-4 formOff">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 formWraper">
                    
                    <form class="formData" id="formData">
                      <p> <span>Login to get started.</span></p>
                      <div class=" col-xs-12 form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" required>
                      </div>
                      <div class=" col-xs-12 form-group">
                          <label for="password">Password</label>
                          <input type="password" class="form-control" id="password" required>
                          <span class="glyphicon glyphicon-eye-close field-icon toggle-password" id="eyeId" toggle="#password"></span>
                      </div>
                      <a class="forgot">Forgot Password?</a>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btnWraper">
                        <div><a routerLink='/dashboard'>Login</a></div>
                      </div>
                    </form>
    
                  </div>
              </div>
    
          </div>
        </div>
      </div>
    </section>
    