<section class="logHeader">
      <div class="logOval row"></div>
</section>

<section class="dashSection">
      <div class="container-fluid">
            
            <!-- Welcome msg -->
            <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 headerTop">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 welcomeMsg">
                              <p>Hello, <span>Kiran Gosavi</span></p>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 companytitle hidden-xs hidden-sm">
                              <p>Company Name</p>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 allBusiness hidden-xs hidden-sm">
                              <ul>
                                    <li><a routerLink='/dashboard' routerLinkActive='active'>All</a></li>
                                    <li><a routerLink='/dashboard' routerLinkActive='active' >Business</a></li>
                                    <li><a routerLink='/dashboard' routerLinkActive='active' >Ad Doc</a></li>
                              </ul>
                        </div>
                  </div>
            </div>
<!--  **********  Tab Section start ********** -->
            <div class="row">
                  <div class="col-xs-12 hdden-xs col-sm-12 col-md-12 col-lg-12 tabWraper">
                        <div class="col-sm-12 col-md-12 col-lg-12 tablink">
                              <div class="col-lg-12 tab">
                                    <div class="tabbable-panel">
                                          <div class="tabbable-line">
                                                <ul class="nav nav-tabs hidden-xs hidden-sm">
                                                      <li class="active">
                                                            <a href="#tab_default_1" data-toggle="tab">
                                                                  <span>All</span> 
                                                            </a>
                                                      </li>
                                                      <li>
                                                            <a href="#tab_default_2" data-toggle="tab">
                                                                  <span> ref</span>
                                                            </a>
                                                      </li>
                                                      <li>
                                                            <a href="#tab_default_3" data-toggle="tab">
                                                                  <span>ac </span>
                                                            </a>
                                                      </li>
                                                      <li>
                                                            <a href="#tab_default_4" data-toggle="tab">
                                                                  <span>wm </span>
                                                            </a>
                                                      </li>
                                                      <li>
                                                            <a href="#tab_default_5" data-toggle="tab">
                                                                  <span>ce </span>
                                                            </a>
                                                      </li>
                                                      <li>
                                                            <a href="#tab_default_6" data-toggle="tab">
                                                                  <span>wh </span>
                                                            </a>
                                                      </li>
                                                      <li>
                                                            <a href="#tab_default_7" data-toggle="tab">
                                                                  <span>platform</span> 
                                                            </a>
                                                      </li>
                                                </ul>

                                                <div class="row divisionXS">
                                                            <div class="col-xs-12 col-sm-12">
                                                                  <div class="col-xs-7 col-sm-6 visible-xs visible-sm col6">
                                                                        <form>
                                                                              <div class="form-group col-xs-12 p-0">
                                                                                    <label class="col-xs-6 col-sm-6 p-0">Project Root:</label>
                                                                                    <select class="form-control col-sm-6 col-xs-6 p-0">
                                                                                          <option value="Business">Business</option>
                                                                                    </select>
                                                                              </div>
                                                                        </form>
                                                                  </div>
                                                                  <div class="col-xs-5 col-sm-6 visible-xs visible-sm col6">
                                                                        <form>
                                                                              <div class="form-group col-xs-12 p-0">
                                                                                    <label class="col-xs-6 col-sm-6 p-0 divlab">Division:</label>
                                                                                    <select class="form-control col-sm-6 col-xs-6 p-0 divSelect">
                                                                                          <option value="Business">All</option>
                                                                                    </select>
                                                                              </div>
                                                                        </form>
                                                                  </div>
                                                            </div>
                                                      </div>

                                                <div class="tab-content">

                                                <!--  **********  Tab div 1st start ********** -->
                                                      <div class="tab-pane active" id="tab_default_1">
                                                            <!--  ****  Tab year start**** -->
                                                            <form class="formYr">
                                                            <div class="yearWrapper hdden-xs">
                                                                  <label class="yr" for="">year : </label>
                                                                  <select id="dYear">
                                                                        <option value="0">
                                                                        <span class='date'>2019</span>
                                                                        </option> 
                                                                  </select>
                                                            </div>
                                                            </form>

                                                            
                                                      <!--  **********  Project Listt start ********** -->
                                                            <div class="row">
                                                                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-0">
                                                                        <ul class="divfive">
                                                                              <li *ngFor='let  pro of projects'>
                                                                                    <div class="fiveDiv">
                                                                                          <p class="first"> {{pro.name}}</p>
                                                                                          <p class="size"> {{pro.total}}</p>
                                                                                    </div>
                                                                              </li>
                                                                        </ul>
                                                                        
                                                                  </div>
                                                            </div>

                                                            <div class="row rowGraph">

                                                                  <div class="row grrow">
                                                                        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 titleGraph">
                                                                              <p>Business Plan Vs Actual </p>
                                                                        </div>
                                                                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 titleGraph">
                                                                              <p>Business Plan Project Status </p>
                                                                        </div>
                                                                  </div>

                                                                  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 barGrap graphColor">
                                                                        <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12 backyBarCol">
                                                                              
                                                                              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 bar firstBar">
                                                                                          <p>Registration</p>
                                                                                          <div id="grsbenchmark"></div>
                                                                              </div>
                                                                              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 bar secBar">
                                                                                    <p>Closure</p>
                                                                                    <form class="monthFm hidden-xs hidden-sm">
                                                                                          <div class="monthWrapper hidden-xs">
                                                                                                <label class="yr1" for="">Month : </label>
                                                                                                <select id="dYear1">
                                                                                                      <option value="January">
                                                                                                      <span class='date'>March</span>
                                                                                                      </option> 
                                                                                                </select>
                                                                                          </div>
                                                                                    </form>
                                                                                    <div id="grsbenchmark1"></div>
                                                                              </div>

                                                                              <div class="row ulBot">
                                                                                    <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6 grp target6">
                                                                                          <ul class="target">
                                                                                                <li><span>Target</span></li>
                                                                                          </ul>
                                                                                    </div>
                                                                                    <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6 grp">
                                                                                          <ul class="actual">
                                                                                                <li><span>Actual</span></li>
                                                                                          </ul>
                                                                                    </div>
                                                                              </div>
                                                                        </div>
                                                                  </div>
                                                                  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 pieGraph graphColor">
                                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pieGraph">

                                                                              <div style="display: block">
                                                                                    <canvas class="pieCanvas" baseChart width="100%" height="100%"
                                                                                          [data]="doughnutChartData"
                                                                                          [labels]="doughnutChartLabels"
                                                                                          [chartType]="doughnutChartType">
                                                                                    </canvas>
                                                                              </div>

                                                                        </div>

                                                                  </div>
                                                            </div>

                                                            <!-- ******* to do list ******* -->
                                                            <div class="row m0">
                                                                  <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 todo toWraper" id="todo">
                                                                        <p class="titleToDo">To Do List<a>(2 Pending Task)</a> </p>
                                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 toinner toback" id="todolist">
                                                                              <div class="col-xs-12 detdo" *ngFor='let list of DoList'>
                                                                                    <h5 class="hidden-xs">{{list.title}} - 
                                                                                          <span class="hidden-xs"> [query raised]</span>
                                                                                          <span class="toTime hidden-xs">12.12PM</span>
                                                                                    </h5>
                                                                                    <p class="toDesc hidden-xs"><span>T</span> {{list.dd | customSlice:25}}</p>

                                                                                    <p class="toDesc visible-xs">
                                                                                          <span class="ttt">T</span> <b>{{list.title}} -</b> 
                                                                                          <i>{{list.dd | customSlice:25}}</i>
                                                                                    </p>
                                                                                    <p class="visible-xs" style="font-size: 12px;"><span class="toTime">12.12PM</span></p>
                                                                                    <ul class="hidden-xs">
                                                                                          <li>{{list.plan}}</li>
                                                                                          <li>Project Leader : <span>{{list.leader}}</span></li>
                                                                                    </ul>
                                                                                    <ul class="visible-xs">
                                                                                          <li class="l1" >Project Leader : <span>{{list.leader}}</span></li><br>
                                                                                          <li class="l2">{{list.plan}}  <button class="tobut">{{list.button}}</button> </li>
                                                                                    </ul>
                                                                              </div>
                                                                        </div>
                                                                  </div>
                                                                  <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 todo toData">
                                                                        <p class="titleToDo">Cost Innovation</p>
                                                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 costinner toback">
                                                                              
                                                                              <div class="row col4">
                                                                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col4wrap1">
                                                                                          <h3>90 Lacs</h3>
                                                                                          <p>total planned  cost saving</p>
                                                                                          <span>YTC</span>
                                                                                    </div>
                                                                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col4wrap2">
                                                                                          <h3>90 Lacs</h3>
                                                                                          <p>total planned  cost saving</p>
                                                                                          <span>YTC</span>
                                                                                    </div>
                                                                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col4wrap3">
                                                                                          <h3>90 Lacs</h3>
                                                                                          <p>total planned  cost saving</p>
                                                                                          <span>YTC</span>
                                                                                    </div>
                                                                              </div>

                                                                              <div class="row">
                                                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 xsP0">
                                                                                          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 xsP0">
                                                                                                <div style="display: block">
                                                                                                      <canvas baseChart
                                                                                                      [datasets]="barChartData"
                                                                                                      [labels]="barChartLabels"
                                                                                                      [options]="barChartOptions"
                                                                                                      [legend]="barChartLegend"
                                                                                                      [chartType]="barChartType">
                                                                                                      </canvas>
                                                                                                </div>
                                                                                          </div>
                                                                                    </div>
                                                                              </div>

                                                                        </div>
                                                                  </div>
                                                            </div>

                                                      </div>
                                                <!--  **********  Tab div 1st end ********** -->


                                                      <div class="tab-pane" id="tab_default_2"><p>Tab2.</p></div>
                                                      <div class="tab-pane" id="tab_default_3"><p> Tab 3.</p></div>
                                                      <div class="tab-pane" id="tab_default_4"><p>Tab 4.</p> </div>
                                                      <div class="tab-pane" id="tab_default_5"><p>Tab 5.</p></div>
                                                      <div class="tab-pane" id="tab_default_5"><p>Tab 6.</p></div>
                                                      <div class="tab-pane" id="tab_default_5"><p>Tab 7.</p></div>
                                                      
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <!-- <div class="col-sm-3 col-md-3 col-lg-3 tabyr"></div> -->
                  </div>
            </div><!--  **********  Tab Section End ********** -->

      </div>
</section>