@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');
// font-family: 'Nunito Sans', sans-serif;
// font-family: 'Work Sans', sans-serif;


/* *************VARIABLES START ************* */
$teal: #044E92;
$darkPurple: #060042;
$lightblue : #0474DA;
$weight:700;
$white:white;
$family:'Nunito Sans', sans-serif;
$lightblack:#767676;
$weight:700;
$lightwhite:#ffffffe3;
$blue :#025AAB;
$green:#5AA647;
$parrot:#A0C700;




/* *************MIXIN START ************* */
@mixin ProjectTitle {
      font-size: 20px;
      letter-spacing: 0;
      line-height: 27px;
      margin-bottom: 16px;
      font-weight: 600;
    text-transform: capitalize;
    }
    @mixin boxShadow {
      background: white;
      border-radius: 10px;
      box-shadow: 0 7px 18px 0 rgba(2, 118, 179, 0.13);
    }
@mixin col4Mix {
      text-align: center;
      font-family: "Nunito Sans";
      border-right: 1px solid lightgray;
      font-weight: 700;
      padding: 10px;
      h3{
            margin: 0;
            font-size: 20px;
            font-weight: 700;
            line-height: 27px;
      }
      p{
            margin: 0;
            font-size: 14px;
      }
}
@mixin tabActive {
      border-bottom: 1.5px solid $lightwhite;
      width: 17px;
}
@mixin headerTitle {
      font-family: "Nunito Sans";
      font-size: 22px;
      letter-spacing: 0;
      line-height: 30px;
      color: white;
}
/* *************HEADER START ************* */
.logHeader {
      height: 220px;
      width: 100%;
      border-radius: 0 0 0 87px;
      background: linear-gradient(
  274.88deg
  , #0474DA 0%, #044E92 100%);
  overflow: hidden;
      .logOval {
            height: 626px;
            width: 647px;
            opacity: 0.29;
            background-color: #389AF3;
            border-radius: 50%;
            position: relative;
            bottom: 120px;
            left: 720px;
      }
  }


/* *********** DASHBOARD SCSS *********** */
.m0{
      margin: 0;
} 
.dashSection{
      position: absolute;
      top: 0;
}

/* ********* WELCOME CSS ********* */ 
.headerTop{
      color: $lightwhite!important;
      padding: 28px;
      .welcomeMsg{
            p{
                  @include headerTitle;
                  margin: 0;
                  span{
                        padding-left: 5px;
                        font-weight: bold;
                        font-size: 22px;
                  }
            }
      }
      .companytitle{
            text-align: center;
            p{
                  @include headerTitle;
            }
      }
      .allBusiness{
            text-align: right;
            ul{
                  list-style-type: none;
                  margin: 0;
                  padding: 0;
                  li{
                        display: inline-block;
                        padding: 0 16px;
                        font-size: 16px;
                        position: relative;
                        line-height: 22px;
                        &:first-child::before{
                              content: "";
                              position: absolute;
                              left: 22px;
                              bottom: -6px;
                              height: 6px;
                              width: 6px;
                              border-bottom: 6px solid white;
                              border-radius: 50%;
                        }
                        a{
                              text-decoration: none;
                              color:$white;
                              &:hover{
                                    cursor: pointer;
                              }
                        }
                  }
            }
      }
     
}


/* ********* Tab Content ********* */
.tabWraper{padding-top: 4px;}
.tab{padding: 0px;}

.tabbable-panel { border:none;}

.tabbable-line {
      .tab-content {
            margin-top: 30px;
            border: 0;
            padding: 15px 0;
      }
      .nav-tabs {
            border: none;
            margin: 0px;
            li {
                  margin-right: 2px;
                  padding: 5px 23px;
                  font-size: 16px;
                  width: 77px;
                  line-height: 22px;
                  height: 22px;
                  &.open, &:hover{
                        a {
                              border: 0;
                              background: none !important;
                              span{
                                    @include tabActive;
                              }
                              i{ color: $lightwhite;}
                        }
                        
                  } 
                  &.active {
                        position: relative;
                        a{
                              background: none;
                              font-weight: 900;
                              span{
                                    @include tabActive;
                              }
                              i {color:white;}
                        }
                  }
                  &:first-child{
                        padding: 5px 15px 5px 5px!important;
                  }
                  a {
                        border: 0;
                        margin-right: 0;
                        color: $lightwhite;
                        padding: 0;
                        line-height: 22px;
                        text-transform: uppercase;
                        span{
                              
                              width: 13px;
                              position: absolute;
                              
                        }
                  }
           }
      }
}

/*  ****** Tab Content Data ******* */
.formYr{
      position: relative;
      top: -20px;
}
.yearWrapper  {
      float:right;
      margin-top: -45px;
      color: $white;
      .yr{
            font-weight: normal;
            line-height: 19px;
            font-size: 14px;
            text-transform: capitalize;
            letter-spacing: 1px;
      }
      select{
            border: 0px;
            font-size: 16px;
            padding: 0 10px !important;
            line-height: 22px;
            background: none;
      }
}

/* ********** Five Div ********** */
.p-0{
      padding: 0;
}
ul.divfive{
      list-style: none;
      margin: 0;
      padding: 0 0 0 15px;
      li{
            display: inline-block;
            margin: 0 20px 0 10px;
            .fiveDiv{
                  background: white;
                  border-left: 6px solid #43cefb;
                  border-radius: 4px;
                  padding: 9px 17px;
                  box-shadow: 1px 2px 5px 0px #c3c3c3d6;
                  font-family: "Nunito Sans";
                  font-weight: 600;
                  width: 205px;
                  height: 83px;
                  color: #474D52;
                  .first{
                        margin: 0;
                        font-size: 15px;
                  }
                  .size{
                        
                        font-size: 40px;
                        font-weight: bold;
                        line-height: 54px;
                  } 
            }
      }
}

//  
.divisionXS{
      margin-top: 1em;
      .col6{
            padding: 0 7px;
            label{
                  font-size: 13px;
                  font-weight: normal;
                  margin: 6px -16px 0 0;
                  color: $lightblack;
            }
            // .divSelect{
            //       width: 64%;
            // }
            select{
                  width: 55%;
                  font-size: 12px;
                  height: 36px;
                  border: 1px solid #C7C7C7;
                  border-radius: 5px;
                  option{

                  }
            }
      }
}
// **** Graph

.rowGraph{
      margin: 1.5em 0;
      .titleGraph{
            padding: 0 35px;
            p{
                  @include ProjectTitle;

            }
      }
      .ulBot{
            .grp{
                  padding-top: 1em;
            }
            .target{
                  margin: 0;
                  padding: 0;
                  li{
                        color: $blue;
                        }
                        span{
                              color: $lightblack!important;
                        }
                  }   
            .actual{
                  li{
                        color: green;
                        span{
                              color: $lightblack!important;
                        }
                  }
            }
      }
      .graphColor{
            
      }
      .barGrap{
            .backyBarCol{
                  @include boxShadow;
                  padding: 3em 0;
            }
            .bar{
                  p{
                        margin: 0px;
                        color: #010202;
                        font-family: "Nunito Sans";
                        font-size: 16px;
                        font-weight: bold;
                        letter-spacing: 0;
                        line-height: 22px;
                  }
            }
            .firstBar{
                  border-right: 1px solid lightgray;
            }
            .secBar{
                  .monthFm{
                        float: right;
                        margin-top: -24px;
                        padding: 0px 10px;
                        .yr1{
                              font-weight: normal;
                              padding: 0;
                              font-size: 14px;
                        }
                        .dYear1{
                              padding: 0 10px 0 0; 
                        }
                  }

            }
      }
}


.graphColor{
      .pieGraph{
            // height: 324px;
            @include boxShadow;
            padding: 25px 0;
      }
        
}

//  To Do List CSS
#todo{
      height: 527px;
      overflow: hidden;
      #todolist{
            height: 100%;
            overflow: scroll;
      }
}
.todo{
      margin: 2em 0;
      .titleToDo{
            @include ProjectTitle;
            a{
                  text-decoration: none;
                  cursor: pointer;
                  font-size: 14px;
                  padding: 0 6px;
                  color: #025AAB;
            }
      }
      .toback{
            @include boxShadow;
            padding: 10px;

            .col4{
                  .col4wrap1{
                        @include col4Mix;
                        color: #025AAB;
                  }
                  .col4wrap2{
                        @include col4Mix;
                        color: #A0C700;
                  }
                  .col4wrap3{
                        @include col4Mix;
                        color: #5AA647;
                  }
            }

            .detdo{
                  padding: 18px;
                  margin-bottom: 0px;
                  border-bottom: 1px solid rgba(0,0,0,0.2);
                  h5{
                        color: #010202;
                        font-family: "Nunito Sans";
                        font-size: 16px;
                        letter-spacing: 0;
                        line-height: 16px;
                        .toTime{
                              float: right;
                              margin-top: 0px;
                              color: gray;
                              font-size: 12px;
                              font-weight: 600;
                              letter-spacing: 1px;
                        }
                        span{
                              color: #025AAB;
                              font-size: 12px;
                        }
                  }
                  .toDesc{
                        font-weight: 600;
                        font-size: 14px;
                        color: #6B6B6B;
                        letter-spacing: 0.3px;
                        margin: 10px 0;
                        span{
                              padding: 2px 7px;
                              background: #67e7e7;
                              color: white;
                              border-radius: 50%;
                              font-size: 14px;
                        }
                        b{
                              padding: 0 10px;
                        }
                        i{
                              font-style: normal;
                              
                        }
                  }
                  ul{
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        li{
                              display: inline;
                              &:first-child{
                                    color: #0465B4;
                                    padding: 2px 13px;
                                    font-family: "Nunito Sans";
                                    font-size: 14px;
                                    font-weight: bold;
                                    border-right: 1px solid lightgray;
                              }
                              &:nth-child(2){
                                    font-size: 12px;
                                    color: #96A1A9;
                                    padding: 2px 13px;
                                    span{
                                          font-size: 14px;
                                          color: #414950;
                                    }
                              }
                        }
                  }
            }
      }
}

.pieCanvas{
      width: 100%!important;
      height: 302px!important;
}
.tobut{
      font-size: 14px;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    color:#414950;
}